<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            body{
                background-color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-secondary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end">
                        <li>Bollapu Varnika</li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>About Me</h1>
        <div class="container">
            <section class="about-section" id="about">
                <div class="text">
                    <p>I am a motivated and hardworking Computer Science Engineering student at Rajiv Gandhi University of Knowledge Technologies, RK Valley, Kadapa. With a strong foundation in programming and problem-solving, I am eager to gain valuable experience in a professional setting.</p>
                </div>
                <div class="container">
                    <h2>Education Details</h2>
                    <ul>
                        <li><b>B.Tech in Computer Science Engineering (2022 - Present)</b></li>
                            Rajiv Gandhi University of Knowledge Technologies, RK Valley, Kadapa, India
                            <li><b>Pre-University Course (PUC) (2021 - 2022)</b></li>
                            Rajiv Gandhi University of Knowledge Technologies, RK Valley, Kadapa, India
                            <li><b>Secondary School Certificate</b></li>
                            Narayana Group os Schools, Kurnool, India
                    </ul>
                </div>
                <div class="container">
                    <h2>Strengths</h2>
                    <ul>
                        <li>Strong problem-solving skills</li>
                        <li>communication</li>
                        <li>Team player</li>
                    </ul>
                </div>
            </section>
        </div>
        <h2>Skills</h2>
        <div class="container">
            <section id="skills" class="skills-section">
               
                <div class="text">
                I'm Skilled in programming languages like Python and Java and have a strong foundation in Data Structures and Algorithms.<br/>
                My level of proficiency in my tech stack is as below
                </div>
        
                <div class="cells">
                    <div class="cell">
                        <span>Python</span>
                    </div>
                    
                    <div class="cell">
                        <span>HTML</span>
                    </div>
                    
                    <div class="cell">
                        <span>CSS</span>
                    </div>
                    
                    <div class="cell">
                        <span>Java</span>
                    </div>
                    <div class="cell">
                        <span>DSA</span>
                    </div>
                </div>
            </section>
        </div>
        <h2>Projects</h2>
        <div class="container">
            <section id="projects" class="project-section">
                
          
                <div class="group">
                  <div class="person-details">
                    <h2>Restaurent Automation System</h2>
                  </div>
                  <div class="text">
                    <h3>Description</h3>
                    Restaurant Automation refers to the use of technology and software to streamline restaurant operations, improve efficiency, reduce costs, and enhance customer experience. It integrates ordering, billing, inventory management, kitchen operations, and customer service into a seamless automated system.
                  </div>
                  <div class="text">
                    <h3>Technologies Tools Used</h3>
                    HTML , CSS , JAVASCRIPT , JAVA , JDBC , SERVELTS , MYSQL
                  </div>
                  <div class="text">
                    <h3>Role and Responsibility</h3>
                    I was responsible for designing and implementing the user interface using HTML and CSS. I ensured
                    a responsive and visually appealing design by leveraging HTML elements and CSS features.
                  </div>          
        </div>
      </div>
    </body>
</html>